*{
	/*border: 1px solid red;*/
}

.box-pesanan{
	padding: 100px;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.jumlah-pesanan{
	width: 80%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 5px solid #dcdcdc;
	border-radius: 10px;
}

.jumlah-pesanan > p{
	font-size: 25px; 
}
